* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1280px;
}
/* SECTION */
.section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.about-us {
  color: #000000;
  opacity: 87%;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 20px;
}
.section-title {
  width: 640px;
  font-size: 48px;
  line-height: 58px;
  margin-top: 16px;
  color: #232536;
}
.section-title-text {
  width: 547px;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
}
.section-text {
  width: 547px;
  font-size: 16px;
  line-height: 24px;
  color: #5d5f6d;
  font-family: sans-serif;
  margin-top: 16px;
}
img {
  width: 418px;
  height: 446px;
}
.section-img {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
